* text=auto !eol
/PetEmote[!!-~]Editor.sln -text
PetEmote.Core/CustomEmotes.cs -text
PetEmote.Core/DefaultEmotes.cs -text
PetEmote.Core/EmoteConfiguration.cs -text
PetEmote.Core/EmoteNode.cs -text
PetEmote.Core/EmoteNodeProperties.cs -text
PetEmote.Core/Emotes.cs -text
PetEmote.Core/LuaTableWriter.cs -text
PetEmote.Core/PetEmote.Core.csproj -text
PetEmote.Core/PetFamily.cs -text
PetEmote.Core/PetFamilyFactory.cs -text
PetEmote.Core/Properties/AssemblyInfo.cs -text
PetEmote.Core/Version.cs -text
PetEmote.Core/XmlVersionConverter.cs -text
PetEmote.Core/app.config -text
PetEmote.Editor/Components/EmoteOutput.Designer.cs -text
PetEmote.Editor/Components/EmoteOutput.cs -text
PetEmote.Editor/Components/EmoteOutput.de.resx -text
PetEmote.Editor/Components/EmoteOutput.resx -text
PetEmote.Editor/Forms/MainForm.Designer.cs -text
PetEmote.Editor/Forms/MainForm.Files.cs -text
PetEmote.Editor/Forms/MainForm.Menu.cs -text
PetEmote.Editor/Forms/MainForm.Output.cs -text
PetEmote.Editor/Forms/MainForm.Workspace.cs -text
PetEmote.Editor/Forms/MainForm.cs -text
PetEmote.Editor/Forms/MainForm.de.resx -text
PetEmote.Editor/Forms/MainForm.en.resx -text
PetEmote.Editor/Forms/MainForm.resx -text
PetEmote.Editor/Graphics/Icons.Designer.cs -text
PetEmote.Editor/Graphics/Icons.resx -text
PetEmote.Editor/Graphics/Icons/AddChildNode.gif -text
PetEmote.Editor/Graphics/Icons/AddConfiguration.gif -text
PetEmote.Editor/Graphics/Icons/AddNode.gif -text
PetEmote.Editor/Graphics/Icons/Condition.gif -text
PetEmote.Editor/Graphics/Icons/ImportConfiguration.gif -text
PetEmote.Editor/Graphics/Icons/Load.gif -text
PetEmote.Editor/Graphics/Icons/Options.gif -text
PetEmote.Editor/Graphics/Icons/RemoveConfiguration.gif -text
PetEmote.Editor/Graphics/Icons/RemoveNode.gif -text
PetEmote.Editor/Graphics/Icons/Save.gif -text
PetEmote.Editor/Graphics/IconsWoW.Designer.cs -text
PetEmote.Editor/Graphics/IconsWoW.resx -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Druid_PrimalPrecision.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Bat.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Bear.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Boar.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Cat.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Chimera.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_CoreHound.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Crab.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Crocolisk.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Devilsaur.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_DragonHawk.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Gorilla.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Hyena.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Moth.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_NetherRay.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Owl.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Raptor.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Ravager.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Rhino.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Scorpid.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Silithid.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Spider.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Sporebat.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_TallStrider.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Turtle.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Vulture.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_WarpStalker.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Wasp.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_WindSerpent.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Wolf.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Ability_Hunter_Pet_Worm.jpg -text
PetEmote.Editor/Graphics/IconsWoW/INV_Misc_QuestionMark.jpg -text
PetEmote.Editor/Graphics/IconsWoW/INV_Weapon_Bow_07.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Druid_PrimalPrecision.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Bat.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Bear.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Boar.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Cat.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Chimera.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_CoreHound.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Crab.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Crocolisk.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Devilsaur.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_DragonHawk.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Gorilla.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Hyena.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Moth.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_NetherRay.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Owl.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Raptor.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Ravager.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Rhino.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Scorpid.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Silithid.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Spider.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Sporebat.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_TallStrider.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Turtle.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Vulture.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_WarpStalker.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Wasp.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_WindSerpent.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Wolf.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Ability_Hunter_Pet_Worm.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/INV_Misc_QuestionMark.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/INV_Weapon_Bow_07.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Nature_Drowsy.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Nature_GuardianWard.png -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Shadow_SummonFelGuard.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Shadow_SummonFelHunter.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Shadow_SummonImp.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Shadow_SummonInfernal.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Shadow_SummonSuccubus.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Original/Spell_Shadow_SummonVoidWalker.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_DeathKnight_Gnaw_Ghoul.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Deathknight_ClassIcon.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Nature_Drowsy.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Nature_GuardianWard.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Shadow_SummonFelGuard.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Shadow_SummonFelHunter.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Shadow_SummonImp.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Shadow_SummonInfernal.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Shadow_SummonSuccubus.jpg -text
PetEmote.Editor/Graphics/IconsWoW/Spell_Shadow_SummonVoidWalker.jpg -text
PetEmote.Editor/HttpResponder.cs -text
PetEmote.Editor/IconFactory.cs -text
PetEmote.Editor/PetEmote.Editor.csproj -text
PetEmote.Editor/PetEmote.Editor.csproj.user -text
PetEmote.Editor/PetEmote.ico -text
PetEmote.Editor/Program.cs -text
PetEmote.Editor/Properties/AssemblyInfo.cs -text
PetEmote.Editor/Properties/Resources.Designer.cs -text
PetEmote.Editor/Properties/Resources.de.Designer.cs -text
PetEmote.Editor/Properties/Resources.de.resx -text
PetEmote.Editor/Properties/Resources.resx -text
PetEmote.Editor/Properties/Settings.Designer.cs -text
PetEmote.Editor/Properties/Settings.settings -text
PetEmote.Editor/Properties/app.manifest -text
PetEmote.Editor/TreeNodeConverter.cs -text
PetEmote.Editor/app.config -text
