* text=auto !eol
/PetEmote[!!-~]Editor.sln -text
PetEmote[!!-~]Editor/Emotes/CustomEmotes.cs -text
PetEmote[!!-~]Editor/Emotes/DefaultEmotes.cs -text
PetEmote[!!-~]Editor/Emotes/EmoteConfiguration.cs -text
PetEmote[!!-~]Editor/Emotes/EmoteNode.cs -text
PetEmote[!!-~]Editor/Emotes/EmoteNodeProperties.cs -text
PetEmote[!!-~]Editor/Emotes/EmoteNodeSet.cs -text
PetEmote[!!-~]Editor/Emotes/LuaTableWriter.cs -text
PetEmote[!!-~]Editor/Emotes/PetFamily.cs -text
PetEmote[!!-~]Editor/Emotes/XmlVersionConverter.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.Designer.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.Files.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.Menu.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.Output.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.Workspace.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.cs -text
PetEmote[!!-~]Editor/Forms/MainForm.de.resx -text
PetEmote[!!-~]Editor/Forms/MainForm.en.resx -text
PetEmote[!!-~]Editor/Forms/MainForm.resx -text
PetEmote[!!-~]Editor/Icons.Designer.cs -text
PetEmote[!!-~]Editor/Icons.resx -text
PetEmote[!!-~]Editor/Icons/Ability_Druid_CatForm.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Druid_ChallangingRo.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Druid_DemoralizingR.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Bat.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Bear.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Boar.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Cat.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Crab.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Crocolis.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_DragonHa.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Gorilla.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Hyena.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_NetherRa.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Owl.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Raptor.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Ravager.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Scorpid.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Serpent.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Spider.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Sporebat.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_TallStri.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Turtle.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Vulture.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_WarpStal.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_WindSerp.jpg -text
PetEmote[!!-~]Editor/Icons/Ability_Hunter_Pet_Wolf.jpg -text
PetEmote[!!-~]Editor/Icons/AddChildNode.gif -text
PetEmote[!!-~]Editor/Icons/AddChildNode.ico -text
PetEmote[!!-~]Editor/Icons/AddConfiguration.gif -text
PetEmote[!!-~]Editor/Icons/AddConfiguration.ico -text
PetEmote[!!-~]Editor/Icons/AddNode.gif -text
PetEmote[!!-~]Editor/Icons/AddNode.ico -text
PetEmote[!!-~]Editor/Icons/ApplicationBig.png -text
PetEmote[!!-~]Editor/Icons/Condition.gif -text
PetEmote[!!-~]Editor/Icons/Condition.ico -text
PetEmote[!!-~]Editor/Icons/INV_Letter_01.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_Book_02.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_PunchCards_Blue.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_PunchCards_Prismat.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_PunchCards_Red.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_PunchCards_White.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_PunchCards_Yellow.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_QuestionMark.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_Rune_01.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Misc_Spyglass_03.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Musket_02.jpg -text
PetEmote[!!-~]Editor/Icons/INV_Weapon_Bow_07.jpg -text
PetEmote[!!-~]Editor/Icons/ImportConfiguration.gif -text
PetEmote[!!-~]Editor/Icons/ImportConfiguration.ico -text
PetEmote[!!-~]Editor/Icons/Load.gif -text
PetEmote[!!-~]Editor/Icons/Load.ico -text
PetEmote[!!-~]Editor/Icons/Options.gif -text
PetEmote[!!-~]Editor/Icons/Options.ico -text
PetEmote[!!-~]Editor/Icons/PetEmote.ico -text
PetEmote[!!-~]Editor/Icons/RemoveConfiguration.gif -text
PetEmote[!!-~]Editor/Icons/RemoveConfiguration.ico -text
PetEmote[!!-~]Editor/Icons/RemoveNode.gif -text
PetEmote[!!-~]Editor/Icons/RemoveNode.ico -text
PetEmote[!!-~]Editor/Icons/Save.gif -text
PetEmote[!!-~]Editor/Icons/Save.ico -text
PetEmote[!!-~]Editor/Icons/Spell_ChargeNegative.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_ChargePositive.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Nature_Drowsy.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Shadow_SummonFelGuard.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Shadow_SummonFelHunte.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Shadow_SummonImp.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Shadow_SummonInfernal.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Shadow_SummonSuccubus.jpg -text
PetEmote[!!-~]Editor/Icons/Spell_Shadow_SummonVoidWalk.jpg -text
PetEmote[!!-~]Editor/PetEmote[!!-~]Editor.csproj -text
PetEmote[!!-~]Editor/PetEmote[!!-~]Editor.csproj.user -text
PetEmote[!!-~]Editor/PetEmote.ico -text
PetEmote[!!-~]Editor/Program.cs -text
PetEmote[!!-~]Editor/Properties/AssemblyInfo.cs -text
PetEmote[!!-~]Editor/Properties/Resources.Designer.cs -text
PetEmote[!!-~]Editor/Properties/Resources.de.resx -text
PetEmote[!!-~]Editor/Properties/Resources.resx -text
PetEmote[!!-~]Editor/Properties/Settings.Designer.cs -text
PetEmote[!!-~]Editor/Properties/Settings.settings -text
PetEmote[!!-~]Editor/Properties/app.manifest -text
PetEmote[!!-~]Editor/Version.cs -text
PetEmote[!!-~]Editor/app.config -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.application -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.exe -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.exe.config -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.exe.manifest -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.pdb -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.vshost.application -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.vshost.exe -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote[!!-~]Editor.vshost.exe.config -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote.exe -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote.pdb -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote.vshost.exe -text
PetEmote[!!-~]Editor/bin/Debug/PetEmote.vshost.exe.manifest -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote[!!-~]Editor_1_5_1_6/PetEmote[!!-~]Editor.exe.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote[!!-~]Editor_1_5_1_6/PetEmote[!!-~]Editor.exe.manifest -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote[!!-~]Editor_1_5_1_6/PetEmote.ico.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote[!!-~]Editor_1_5_1_6/de/PetEmote[!!-~]Editor.resources.dll.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote[!!-~]Editor_1_5_1_6/default-emotes.xml.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote_1_5_1_4/PetEmote.exe.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote_1_5_1_4/PetEmote.exe.manifest -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote_1_5_1_4/PetEmote.ico.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/Application[!!-~]Files/PetEmote_1_5_1_4/default-emotes.xml.deploy -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/PetEmote[!!-~]Editor.application -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/PetEmote.application -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/index.htm -text
PetEmote[!!-~]Editor/bin/Debug/app.publish/setup.exe -text
PetEmote[!!-~]Editor/bin/Debug/de/PetEmote[!!-~]Editor.resources.dll -text
PetEmote[!!-~]Editor/bin/Debug/en/PetEmote[!!-~]Editor.resources.dll -text
PetEmote[!!-~]Editor/bin/Release/PetEmote[!!-~]Editor.application -text
PetEmote[!!-~]Editor/bin/Release/PetEmote[!!-~]Editor.exe -text
PetEmote[!!-~]Editor/bin/Release/PetEmote[!!-~]Editor.exe.manifest -text
PetEmote[!!-~]Editor/bin/Release/PetEmote[!!-~]Editor.pdb -text
PetEmote[!!-~]Editor/bin/Release/de/PetEmote[!!-~]Editor.resources.dll -text
PetEmote[!!-~]Editor/default-emotes.xml -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.TrustInfo.xml -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.application -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.csproj.FileListAbsolute.txt -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.csproj.GenerateResource.Cache -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.exe -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.exe.manifest -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote[!!-~]Editor.pdb -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.Forms.MainForm.de.resources -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.Forms.MainForm.en.resources -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.Forms.MainForm.resources -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.Icons.resources -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.Properties.Resources.de.resources -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.Properties.Resources.resources -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.exe -text
PetEmote[!!-~]Editor/obj/Debug/PetEmote.pdb -text
PetEmote[!!-~]Editor/obj/Debug/TempPE/Forms.MainForm.de.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Debug/TempPE/Forms.MainForm.en.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Debug/TempPE/Icons.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Debug/TempPE/Properties.Resources.de.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Debug/de/PetEmote[!!-~]Editor.resources.dll -text
PetEmote[!!-~]Editor/obj/Debug/en/PetEmote[!!-~]Editor.resources.dll -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.TrustInfo.xml -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.application -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.csproj.FileListAbsolute.txt -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.csproj.GenerateResource.Cache -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.exe -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.exe.manifest -text
PetEmote[!!-~]Editor/obj/Release/PetEmote[!!-~]Editor.pdb -text
PetEmote[!!-~]Editor/obj/Release/PetEmote.Forms.MainForm.de.resources -text
PetEmote[!!-~]Editor/obj/Release/PetEmote.Forms.MainForm.resources -text
PetEmote[!!-~]Editor/obj/Release/PetEmote.Icons.resources -text
PetEmote[!!-~]Editor/obj/Release/PetEmote.Properties.Resources.de.resources -text
PetEmote[!!-~]Editor/obj/Release/PetEmote.Properties.Resources.resources -text
PetEmote[!!-~]Editor/obj/Release/TempPE/Icons.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Release/TempPE/Properties.Resources.Designer.cs.dll -text
PetEmote[!!-~]Editor/obj/Release/de/PetEmote[!!-~]Editor.resources.dll -text
